# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'console-log'
      'submenu': [
        {
          'label': 'Add console.log'
          'command': 'console-log:add'
        },
        {
          'label': 'Add console.log with JSON.stringify'
          'command': 'console-log:add-with-JSON-stringify'
        },
        {
          'label': 'Deconsoler - remove console.log lines from file'
          'command': 'console-log:deconsoler'
        },
        {
          'label': 'Add console.log with styling (front-end only)'
          'command': 'console-log:add-with-JSON-stringify'
        },
        {
          'label': 'Add console.log with JSON.stringify and styling (front-end only)'
          'command': 'console-log:add-with-JSON-stringify-and-styling'
        }
      ]
    ]
  }
]
